.guideline-container {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.guideline-imp-title {
    position: absolute;
    top: -15px;
}

li {
    font-size: 14px;
    margin-left: 10px;
    list-style-type: circle;
 }