@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --light-font: white;
  --body-color-primary: #3c77dd;
  --input-dark-blue: #274c8b;
}


.bd-grid {
  max-width: 75%;
  margin: 0 auto;
}

.bd-container {
  width: 100%;
}

.sub-heading {
  font-size: 1.2em;
  font-weight: 500;
}

.important {
  background-color: rgb(204, 13, 13);
  width: fit-content;
  padding: 10px;
  font-size: 0.8em;
  font-weight: 500;
  border-radius: 5px;
  color: white;
}